@font-face {
    font-family: "Cascadia Mono";
    src: url(../fonts/CascadiaMono.woff2);
}

@font-face {
    font-family: "Cascadia Mono Italic";
    src: url(../fonts/CascadiaMonoItalic.woff2);
}

body {
    background-color: #24283b;
}
h1 {
    color: #bb9af7;
    font-size: 4em;
    font-family: "Cascadia Mono Italic";
    font-feature-settings: "calt" on, "ss01" on;
    text-align: center;
    text-shadow: 5px 5px #1a1b26;
}
h2 {
    color: #7dcfff;
    font-size: 2em;
    font-family: "Cascadia Mono";
    text-align: center;
}

.warning {
    color: #e0af68;
    text-decoration: underline;
}
img {
    height: 1em;
}
