$fg: #fbff0a;
$bg: #000000;

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono Italic";
  src: url("../fonts/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "Roboto Mono";

  color: $fg;
  background-color: $bg;
}

h1 {
  font-size: 5em;
  font-weight: bold;

  text-align: center;
}

h2 {
  font-size: 3em;

  font-weight: normal;

  text-align: center;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    margin: 0.5em;
    padding: 0.5em;
    width: 1.5em;
    height: 1.5em;

    text-decoration: none;

    color: $bg;
    box-shadow: inset 0em 0em 0em 1.5em $fg;

    transition: box-shadow 0.25s, color 0.25s;

    &:hover {
      box-shadow: inset 0em 0em 0em 0.1em $fg;
    }
  }
  .fa-twitter:hover {
    color: #1da1f2;
  }

  .fa-discord:hover {
    color: #5865f2;
  }

  .fa-github:hover {
    color: #fafafa;
  }

  .fa-linkedin:hover {
    color: #0077b5;
  }

  .fa-stack-overflow:hover {
    color: #f48024;
  }
  .fa-spotify:hover {
    color: #1db954;
  }
}

.mood {
  display: block;
  margin: auto;
  padding-top: 3em;

  width: 5em;
  filter: invert(100%) sepia(51%) saturate(3021%) hue-rotate(322deg)
    brightness(121%) contrast(106%);
}
