@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold text-stone-500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply [font-family:InterDisplay];
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/static/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/static/fonts/InterVariable-Italic.woff2") format("woff2");
  }

  /* static fonts */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/static/fonts/Inter-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/static/fonts/Inter-ThinItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/static/fonts/Inter-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/static/fonts/Inter-ExtraLightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/static/fonts/Inter-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/static/fonts/Inter-LightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Inter-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/Inter-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/Inter-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/Inter-MediumItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/static/fonts/Inter-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/static/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/Inter-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/Inter-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/static/fonts/Inter-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/static/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/static/fonts/Inter-Black.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/static/fonts/Inter-BlackItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-ThinItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-ExtraLightItalic.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-LightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-MediumItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-SemiBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-ExtraBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-Black.woff2") format("woff2");
  }
  @font-face {
    font-family: "InterDisplay";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/static/fonts/InterDisplay-BlackItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/BerkeleyMono-Regular.woff2") format("woff2"),
      url("/static/fonts/BerkeleyMono-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: 700;
    font-style: normal;
    src: url("/static/fonts/BerkeleyMono-Bold.woff2") format("woff2"),
      url("/static/fonts/BerkeleyMono-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: 400;
    font-style: italic;
    src: url("/static/fonts/BerkeleyMono-Italic.woff2") format("woff2"),
      url("/static/fonts/BerkeleyMono-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Berkeley Mono";
    font-weight: 700;
    font-style: italic;
    src: url("/static/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2"),
      url("/static/fonts/BerkeleyMono-BoldItalic.woff") format("woff");
  }
}

@layer base {
  /* basic code block styles */

  :not(pre) > code {
    @apply px-1;
  }

  code.highlighted-code {
    counter-reset: linenumber;
  }

  code.highlighted-code span.line-start {
    @apply inline-block text-stone-400 dark:text-stone-600 text-right w-[2ch] pr-4 mr-4 border-r-2 border-solid border-stone-300 dark:border-stone-700 box-content;
    counter-increment: linenumber;
  }

  code.highlighted-code span.line-start:before {
    @apply content-[counter(linenumber)];
  }

  /* syntax highlighting */

  code.highlighted-code .variable {
    @apply text-violet-700 dark:text-violet-300;
  }

  code.highlighted-code .variable.builtin {
    @apply text-violet-600 dark:text-violet-400;
  }

  code.highlighted-code .punctuation,
  code.highlighted-code .operator {
    @apply text-stone-600 dark:text-stone-400;
  }

  code.highlighted-code .punctuation.delimiter {
    @apply text-stone-500;
  }

  code.highlighted-code .comment {
    @apply text-stone-400 dark:text-stone-600;
  }

  code.highlighted-code .constructor {
    @apply text-rose-600 dark:text-rose-400;
  }

  code.highlighted-code .type {
    @apply text-blue-600 dark:text-blue-400;
  }

  code.highlighted-code .attribute {
    @apply text-sky-700 dark:text-sky-300;
  }

  code.highlighted-code .constant {
    @apply text-cyan-600 dark:text-cyan-400;
  }

  code.highlighted-code .constant.builtin {
    @apply text-purple-600 dark:text-purple-400;
  }

  code.highlighted-code .number {
    @apply text-purple-600 dark:text-purple-400;
  }

  code.highlighted-code .keyword {
    @apply text-orange-600 dark:text-orange-400;
  }

  code.highlighted-code .function {
    @apply text-amber-600 dark:text-amber-400;
  }

  code.highlighted-code .type {
    @apply text-blue-600 dark:text-blue-400;
  }

  code.highlighted-code .module {
    @apply text-pink-600 dark:text-pink-400;
  }

  code.highlighted-code .string {
    @apply text-green-600 dark:text-green-400;
  }

  code.highlighted-code .tag {
    @apply text-fuchsia-600 dark:text-fuchsia-400;
  }
}
