/* fonts */

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/Berkeley Mono Variable.woff2") format("woff2-variations");
}

/* the comments for --color/--background-color will be replaced by the build script */

:root {
  --color: /*{light.fg}*/ ;
  --background-color: /*{light.bg}*/ ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: /*{dark.fg}*/ ;
    --background-color: /*{dark.bg}*/ ;
  }
}

:root {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--color);

  font-family: "Berkeley Mono", monospace;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 max(2rem, (100vw - 40rem) / 2);
}

nav {
  font-size: 3rem;
}

nav,
footer {
  padding: 1rem 0;
  text-align: center;
}

hr {
  border: 0.0625rem solid var(--color);
}

a {
  color: inherit;
}

ul {
  list-style-type: "* ";
}

img {
  width: 100%;
}

img,
pre {
  border: 0.25em solid;
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

a:not(article a),
article h1 > a,
article h2 > a,
article h3 > a,
article h4 > a,
article h5 > a,
article h6 > a,
a.footnote {
  text-decoration: inherit;
}

a:hover {
  text-decoration: inherit;
  color: var(--background-color);
  background-color: var(--color);
}

#resume {
  display: block;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border: 0.25rem solid var(--color);
}

#ring {
  font-size: 2rem;
}

/* code blocks */

:root {
  --code-color: #5e5e5e;
  --code-background-color: #f4f4f4;

  --code-gray: #9e9e9e;
  --code-red: #e35535;
  --code-orange: #d4770c;
  --code-yellow: #c7910c;
  --code-green: #00a884;
  --code-blue: #11b7d4;
  --code-purple: #a85ff1;
  --code-pink: #d46ec0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-color: #d0d0d0;
    --code-background-color: #111418;

    --code-gray: #808080;
    --code-red: #e35535;
    --code-orange: #d4770c;
    --code-yellow: #c7910c;
    --code-green: #00a884;
    --code-blue: #11b7d4;
    --code-purple: #a85ff1;
    --code-pink: #d46ec0;
  }
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: "`";

  color: var(--code-gray);
}

pre {
  background-color: var(--code-background-color);

  padding: 1rem;

  overflow-x: auto;
}

code {
  font-family: "Berkeley Mono", monospace;

  color: var(--code-color);
}

code.highlighted .attribute {
  color: var(--code-blue);
}

code.highlighted .comment {
  color: var(--code-gray);
}

code.highlighted .constant {
  color: var(--code-pink);
}

code.highlighted .function,
code.highlighted .constructor {
  color: var(--code-blue);
}

code.highlighted .keyword,
code.highlighted .builtin {
  color: var(--code-orange);
}

code.highlighted .module {
  color: var(--code-reds);
}

code.highlighted .operator {
  color: var(--code-orange);
}

code.highlighted .punctuation {
  color: var(--code-gray);
}

code.highlighted .string {
  color: var(--code-green);
}

code.highlighted .number {
  color: var(--code-yellow);
}

code.highlighted .tag {
  color: var(--code-blue);
}

code.highlighted .property {
  color: var(--code-purple);
}

code.highlighted .type {
  color: var(--code-pink);
}
