/* fonts */

@font-face {
  font-family: "Berkeley Mono";
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/BerkeleyMono-Regular.woff2") format("woff2"),
    url("/static/fonts/BerkeleyMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Berkeley Mono";
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/BerkeleyMono-Bold.woff2") format("woff2"),
    url("/static/fonts/BerkeleyMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Berkeley Mono";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/BerkeleyMono-Italic.woff2") format("woff2"),
    url("/static/fonts/BerkeleyMono-Italic.woff") format("woff");
}

@font-face {
  font-family: "Berkeley Mono";
  font-weight: 700;
  font-style: italic;
  src: url("/static/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2"),
    url("/static/fonts/BerkeleyMono-BoldItalic.woff") format("woff");
}

/* general */

:root {
  --color: #101010;
  --background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #00ff80;
    --background-color: #101010;
  }
}

:root {
  background-color: var(--background-color);
  color: var(--color);

  font-family: "Berkeley Mono", monospace;
}

body {
  margin: 0;
  padding: 0 max(2rem, (100vw - 40rem) / 2);
}

nav {
  font-size: 3rem;
}

nav,
footer {
  padding: 1rem 0;
  text-align: center;
}

hr {
  border: 0.0625rem solid var(--color);
}

a {
  color: inherit;
}

ul {
  list-style-type: "* ";
}

nav > a,
section ul > li > a,
#ring > a,
#resume {
  text-decoration: inherit;
}

section ul > li > a:hover {
  text-decoration: underline;
}

#resume {
  display: block;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border: 0.25rem solid var(--color);
}

#resume:hover {
  background-color: var(--color);
  color: var(--background-color);
}

#ring {
  font-size: 2rem;
}

/* code blocks */

:root {
  --code-color: #141414;
  --code-background-color: #ececec;

  --code-comment-color: #808080;
  --code-constant-color: #0040b0;
  --code-function-color: #b00040;
  --code-keyword-color: #b04000;
  --code-module-color: #4040b0;
  --code-operator-color: #b04040;
  --code-punctuation-color: #808080;
  --code-string-color: #40b040;
  --code-number-color: #b040b0;
  --code-type-color: #4000b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-color: #ececec;
    --code-background-color: #141414;

    --code-comment-color: #808080;
    --code-constant-color: #0080f0;
    --code-function-color: #f04080;
    --code-keyword-color: #f08040;
    --code-module-color: #8080f0;
    --code-operator-color: #f08080;
    --code-punctuation-color: #808080;
    --code-string-color: #80f080;
    --code-number-color: #f080f0;
    --code-type-color: #8040f0;
  }
}

:not(pre) > code {
  padding: 0 0.125rem;

  color: var(--code-color);
  background-color: var(--code-background-color);
}

pre {
  color: var(--code-color);
  background-color: var(--code-background-color);

  padding: 1rem;

  overflow-x: auto;
}

code {
  font-family: "Berkeley Mono", monospace;

  color: var(--code-text-color);
}

code.highlighted .comment {
  color: var(--code-comment-color);
}

code.highlighted .constant {
  color: var(--code-constant-color);
}

code.highlighted .function,
code.highlighted .constructor {
  color: var(--code-function-color);
}

code.highlighted .keyword,
code.highlighted .builtin {
  color: var(--code-keyword-color);
}

code.highlighted .module {
  color: var(--code-module-color);
}

code.highlighted .operator {
  color: var(--code-operator-color);
}

code.highlighted .punctuation {
  color: var(--code-punctuation-color);
}

code.highlighted .string {
  color: var(--code-string-color);
}

code.highlighted .number {
  color: var(--code-number-color);
}

code.highlighted .type {
  color: var(--code-type-color);
}
