@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cartograph CF";
    font-weight: 100;
    src: url("/fonts/CartographCF-Thin.woff2") format("woff2"),
      url("/fonts/CartographCF-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/CartographCF-ThinItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-ThinItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 200;
    src: url("/fonts/CartographCF-ExtraLight.woff2") format("woff2"),
      url("/fonts/CartographCF-ExtraLight.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 200;
    font-style: italic;
    src: url("/fonts/CartographCF-ExtraLightItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-ExtraLightItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 300;
    src: url("/fonts/CartographCF-Light.woff2") format("woff2"),
      url("/fonts/CartographCF-Light.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 300;
    src: url("/fonts/CartographCF-LightItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-LightItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 400;
    src: url("/fonts/CartographCF-Regular.woff2") format("woff2"),
      url("/fonts/CartographCF-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/CartographCF-RegularItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-RegularItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 500;
    src: url("/fonts/CartographCF-DemiBold.woff2") format("woff2"),
      url("/fonts/CartographCF-DemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/CartographCF-DemiBoldItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-DemiBoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 600;
    src: url("/fonts/CartographCF-Bold.woff2") format("woff2"),
      url("/fonts/CartographCF-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/CartographCF-BoldItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 700;
    src: url("/fonts/CartographCF-ExtraBold.woff2") format("woff2"),
      url("/fonts/CartographCF-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/CartographCF-ExtraBoldItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-ExtraBoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 800;
    src: url("/fonts/CartographCF-Heavy.woff2") format("woff2"),
      url("/fonts/CartographCF-Heavy.woff") format("woff");
  }

  @font-face {
    font-family: "Cartograph CF";
    font-weight: 800;
    font-style: italic;
    src: url("/fonts/CartographCF-HeavyItalic.woff2") format("woff2"),
      url("/fonts/CartographCF-HeavyItalic.woff") format("woff");
  }
}
