@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code.code-highlight {
    @apply float-left min-w-full p-0;
  }

  .code-line {
    @apply block pr-4 pl-4;
  }

  .code-line.highlight-line {
    @apply box-border border-l-8 border-indigo-500 bg-indigo-500 bg-opacity-10 pl-2;
  }

  .code-line.inserted {
    @apply box-border border-l-8 border-green-500 bg-green-500 bg-opacity-5 pl-2 text-green-500 before:text-green-800 before:content-['+'] dark:before:text-green-200;
  }

  .code-line.deleted {
    @apply box-border border-l-8  border-red-500 bg-red-500 bg-opacity-5 pl-2 text-red-500  before:text-red-800 before:content-['-'] dark:before:text-red-200;
  }

  .token.prefix.inserted {
    @apply hidden;
  }

  .token.prefix.deleted {
    @apply hidden;
  }

  .line-number {
    @apply before:inline-block before:w-10 before:pr-4 before:text-right before:text-slate-400 before:content-[attr(line)] dark:before:text-slate-600;
  }

  .token.keyword {
    @apply text-blue-500;
  }

  .token.builtin {
    @apply text-green-500;
  }

  .token.class-name {
    @apply text-pink-500;
  }

  .token.function {
    @apply text-blue-500;
  }

  .token.boolean {
    @apply text-violet-500;
  }

  .token.number {
    @apply text-violet-500;
  }

  .token.string {
    @apply text-green-500;
  }

  .token.char {
    @apply text-green-500;
  }

  .token.symbol {
    @apply text-pink-500;
  }

  .token.regex {
    @apply text-yellow-500;
  }

  .token.operator {
    @apply text-sky-500;
  }

  .token.variable {
    @apply text-pink-500;
  }

  .token.constant {
    @apply text-violet-500;
  }

  .token.property {
    @apply text-yellow-500;
  }

  .token.punctuation {
    @apply text-violet-500;
  }

  .token.important {
    @apply text-yellow-500;
  }

  .token.comment {
    @apply text-slate-500;
  }

  .token.literal {
    @apply text-red-500;
  }

  .token.url {
    @apply text-cyan-500 underline;
  }

  .token.tag {
    @apply text-violet-500;
  }

  .token.attr-name {
    @apply text-green-500;
  }

  .token.attr-value {
    @apply text-blue-500;
  }

  .token.namespace {
    @apply text-sky-500;
  }

  .token.prolog {
    @apply text-slate-500;
  }

  .token.doctype {
    @apply text-slate-500;
  }

  .token.cdata {
    @apply text-slate-500;
  }

  .token.bold {
    @apply font-bold;
  }

  /* Handled already because it's called italic lol
  .token.italic {
    @apply italic;
  }
  */

  .atrule {
    @apply text-green-500;
  }
}
